<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="at.company.listeners.TestListener"/>
    </listeners>

    <test name="BDD Tests">
        <classes>
            <class name="at.company.runners.CucumberRunner"/>
        </classes>
    </test>
</suite>